<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="proxy:ProxyServerAddress" value="http://supplyyourproxy:8080" />
    <add key="proxy:ProxyServerBypassOnLocal" value="true" />
    <add key="proxy:ImpersonateUserName" value="SupplyUserName" />
    <add key="proxy:ImpersonatePassword" value="SupplyPassword" />
    <add key="proxy:ImpersonateDomain" value="SupplyDomain" />
  </appSettings>
  <!-- NOTE: Avoid setting proxy settings if you want to use / not use proxy by individual proxy rules in proxy.config! -->
  <!--<system.net>
    <defaultProxy useDefaultCredentials="false">
      <proxy proxyaddress="http://supplyyourproxy:8080" bypassonlocal="true" />
    </defaultProxy>
  </system.net>-->
  <system.web>
    <compilation debug="false" targetFramework="4.0"/>
  </system.web>
</configuration>
